.btn1 
{
	box-shadow: 2px 2px 3px 0px #aaaaaa;
	-moz-box-shadow: 2px 2px 3px 0px #aaaaaa;
	-webkit-box-shadow: 2px 2px 3px 0px #aaaaaa;

	background: -webkit-linear-gradient(to right, #C9D6FF, #E2E2E2);
    background: linear-gradient(to right, #C9D6FF, #E2E2E2);

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius: 8px;

	display:inline-block;
	cursor:pointer;
	color: #64408e;
	font-size:28px;
	font-weight:bold;
	padding: 12px 24px;
	text-decoration:none;

	transition: .2s ease-in-out 0s;
}

.btn1:hover
{
	transform: scale(1.05);
}

.btn1:active 
{
	position:relative;
	top:3px;
}